body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
}

:root {
  --blue-app: #3498ff;
  --purple-app: #7b1fa2;
  --green-app: #00695c;
  --error-app: #b71c1c;
  --warning-app: #ff8f00;
  --black-app: #37474f;
}
