body {
  background-image: url("assets/background.webp");
}

#container__root {
  display: flex;
  flex-direction: column;
}

:root {
  --primary: #6a1b9a;
  --secondary: #ad1457;
  --contrastText: #ffffff;
}

.Mui-selected {
  background-color: #9e9e9e !important;
}
