:root {
  --sidenav-width: max(200px, 20vw);
  --sidenav-container-width: calc(100vw - var(--sidenav-width));
}

#sidenav,
#sidenav nav {
  position: fixed;
  display: flex;
  width: var(--sidenav-width);
  height: 100vh;
}

#sidenav__title {
  font-size: 2rem;
  margin: 35px 25px;
}

#sidenav__container {
  position: relative;
  display: flex;
  left: var(--sidenav-width);
  width: var(--sidenav-container-width);
  height: 100vh;
}

#sidenav,
#sidenav__container {
  transition-duration: var(--animation-duration-app);
  animation-duration: var(--animation-duration-app);
}
